In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
# Regression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
df = pd.read_csv('Clean_Dataset.csv', index_col=0)
df

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [2]:
dic = {'zero': 0,
       'one': 1,
       'two_or_more': 2}

In [3]:
data = df.drop(['flight', 'arrival_time'], axis=1)
data.stops

0         zero
1         zero
2         zero
3         zero
4         zero
          ...
300148     one
300149     one
300150     one
300151     one
300152     one
Name: stops, Length: 300153, dtype: object

In [4]:
def convert_stops(df, col_name, map):
    data = df.copy()
    data[col_name] = data[col_name].map(map)
    return data

In [6]:
data = convert_stops(df, 'stops', dic)
data

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,0,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,0,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,0,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,0,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,0,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,UK-822,Chennai,Morning,1,Evening,Hyderabad,Business,10.08,49,69265
300149,Vistara,UK-826,Chennai,Afternoon,1,Night,Hyderabad,Business,10.42,49,77105
300150,Vistara,UK-832,Chennai,Early_Morning,1,Night,Hyderabad,Business,13.83,49,79099
300151,Vistara,UK-828,Chennai,Early_Morning,1,Evening,Hyderabad,Business,10.00,49,81585
300152,Vistara,UK-822,Chennai,Morning,1,Evening,Hyderabad,Business,10.08,49,81585

In [65]:
data.source_city.unique()

array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
      dtype=object)

In [125]:
np.array(data)[0,8]

2.17

In [89]:
list(feature_indices)

[0, 2]

In [96]:
test = data.drop(['flight', 'arrival_time'], axis=1)
test

,airline,source_city,departure_time,stops,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,0,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,0,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,0,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,0,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,0,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,1,Hyderabad,Business,10.08,49,69265
300149,Vistara,Chennai,Afternoon,1,Hyderabad,Business,10.42,49,77105
300150,Vistara,Chennai,Early_Morning,1,Hyderabad,Business,13.83,49,79099
300151,Vistara,Chennai,Early_Morning,1,Hyderabad,Business,10.00,49,81585
300152,Vistara,Chennai,Morning,1,Hyderabad,Business,10.08,49,81585

In [115]:
transformer = ColumnTransformer([('encoder', OneHotEncoder(), [0,1,2,4,5])], remainder='passthrough')

In [116]:
column_names = np.array(test.columns)
features = ['airline', 'source_city', 'departure_time', 'destination_city', 'class']
feature_indices = np.where(np.isin(column_names, features))[0]

In [117]:
transformer = ColumnTransformer([('encoder', OneHotEncoder(), feature_indices)],
                                    remainder='passthrough')

In [123]:
test.destination_city.unique()

array(['Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai', 'Delhi'],
      dtype=object)

In [120]:
transed = transformer.fit_transform(test)
transed.shape

(300153, 30)

In [122]:
data['departure_time'].unique()
1-4 late night
5-8 early morning
9-12 Morning
13-16 afternoon
17-20 evening
21-24 night

array(['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night'], dtype=object)

In [73]:
np.array(data.columns)

array(['airline', 'flight', 'source_city', 'departure_time', 'stops',
       'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'], dtype=object)

In [72]:
np.where(np.isin(['airline', 'source_city'], np.array(data.columns)))

(array([0, 1]),)

In [88]:
feature_indices = np.where(np.isin(np.array(data.columns), ['airline', 'source_city']))[0]

In [59]:
transformer.transform(data.loc[0:2])
# data.loc[0:2]

/Users/zry/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:438: UserWarning: X has feature names, but OneHotEncoder was fitted without feature names
  warnings.warn(

array([[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0,
        'SG-8709', 'Evening', 0, 'Night', 'Mumbai', 'Economy', 2.17, 1,
        5953],
       [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0,
        'SG-8157', 'Early_Morning', 0, 'Morning', 'Mumbai', 'Economy',
        2.33, 1, 5953],
       [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0,
        'I5-764', 'Early_Morning', 0, 'Early_Morning', 'Mumbai',
        'Economy', 2.17, 1, 5956]], dtype=object)

In [132]:
import numpy as np
new_data = np.array(data.iloc[0,:]).reshape(1, -1).astype('str')
new_data.shape
new_data
# np.array(data.iloc[0:2,:]).shape

array([['SpiceJet', 'SG-8709', 'Delhi', 'Evening', '0', 'Night',
        'Mumbai', 'Economy', '2.17', '1', '5953']], dtype='<U32')

In [133]:
transformer.fit_transform(new_data)

array([['1.0', '1.0', '1.0', '1.0', '1.0', 'Evening', 'Mumbai',
        'Economy', '2.17', '1', '5953']], dtype='<U32')

In [14]:
encoded.toarray().shape

(300153, 14278)

In [14]:
data = pd.get_dummies(data)

In [15]:
#Train test split
X = data.drop('price', axis=1)
y = data['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)
rm = RandomForestRegressor(n_estimators=200, random_state=123, n_jobs=-1, oob_score=True)
rm.fit(X_train, y_train)

#Output the evaluation metrics of the predictions on the validation set
print("MSE", mean_squared_error(y_test, rm.predict(X_test)))
print("MAE", mean_absolute_error(y_test, rm.predict(X_test)))
print("MAPE", mean_absolute_percentage_error(y_test, rm.predict(X_test)))

/Users/zry/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

MSE 8074523.60498861
MAE 1109.2006236731042
MAPE 0.07089740797339492

In [59]:
import joblib
joblib.dump(rm, 'd/a.joblib')

FileNotFoundError: [Errno 2] No such file or directory: 'd/a.joblib'

In [58]:
k = joblib.load('d/a.joblib')
k

FileNotFoundError: [Errno 2] No such file or directory: 'd/a.joblib'